{
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": ["standard", "plugin:vue/recommended"],
  "rules": {
    "vue/no-unused-vars": "warn",
    "vue/html-quotes": [ "error", "single", { "avoidEscape": false } ],
    "quotes": ["error", "single"],
    "eqeqeq": ["error", "smart"],
    "template-curly-spacing": ["error", "always"]
  }
}